/* CSS styles Slime Blog */

/* Full Layout CSS */


.titletext,
h1,
h2,
h3,
.btn {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 300;
    font-style: normal; */
}


/* END Full Layout CSS */

/* Login HTML CSS */

body {
    background-color: #e0f7fa;
}

.container {
    margin-top: 100px;
}

.card {
    border: 2px solid #4caf50;
}

.card-header {
    background-color: #4caf50;
    color: white;
    text-align: center;
}

.btn-slime {
    background-color: #4caf50;
    color: white;
}

.btn-slime:hover {
    background-color: #388e3c;
}

.btn-slime-variant {
    background-color: #62C5DA;
    color: white;
}

.btn-slime-variant:hover {
    background-color: #40A7BD;
}

.slime-logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

/* Login HTML CSS end */

/* Registration HTML CSS */
/* TODO: Customize registration html elements */
/* Registration HTML CSS end */